body{
    font-family: fantasy;
    background-image: url(../picture/pexels-samer-daboul-1375902.jpg); 

    background-repeat: no-repeat;
    max-width: 40vw;
    height: 132vh;
    margin: 0 auto;
}