body{
    font-family: fantasy;
    background-image: 
    url(../picture/pexels-los-muertos-crew-8477301.jpg); 

    background-repeat: no-repeat;
    max-width: 40vw;
    height: 132vh;
    margin: 0 auto;
}