.second-section > h2 {
    border-right: 0 solid black;
    width: 30ch;
    margin: 0 auto;
    margin-top: 2.5em;
    white-space: nowrap;
    overflow: hidden;
    -webkit-animation: typing 3s steps(33, end),
    blink-caret .5s step-end infinite alternate;
}

.meat{
    margin-left: 4em;
    width: 4em;
    margin-top: 0.5em;

    text-align: center;

    text-shadow: rgba(0, 0, 0, 0.63) 0.1em 0.1em;
    color: #EA9C42;
    font-size: 1.3em;

    padding: 2em;
}

.meat2, .meat3{
    width: 4em;
    margin-top: 2em;

    text-align: center;

    text-shadow: rgba(0, 0, 0, 0.63) 0.1em 0.1em;
    color: #EA9C42;
    font-size: 1.3em;

    padding: 2em;
}

.meat2{
    position: absolute;
    right: 34%;
    top: 74%;
}

.meat3{
    position: absolute;
    right: 44%;
    top: 74%;
}



/* modificando o input checkbox */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  .container {
    display: flex;
    gap: 10px;
  }
  
  
  /* Create a custom checkbox */
  .checkmark {
    position: relative;
    box-shadow: rgb(255, 84, 0) 0px 0px 0px 2px;
    background-color: rgba(16, 16, 16, 0.5);
    height: 20px;
    width: 20px;
    margin-right: 10px;
    flex-shrink: 0;
    margin-top: -1px;
    transition: all 0.2s ease 0s;
    cursor: pointer;
    transform-origin: 0px 10px;
    border-radius: 4px;
    margin: -1px 10px 0px 0px;
    padding: 0px;
    box-sizing: border-box;
  }
  
  .container input:checked ~ .checkmark {
    box-shadow: rgb(255, 84, 0) 0px 0px 0px 2px;
    background-color: rgba(245, 24, 24, 0.5);
    height: 20px;
    width: 20px;
    margin-right: 10px;
    flex-shrink: 0;
    margin-top: -1px;
    transition: all 0.2s ease 0s;
    cursor: pointer;
    transform-origin: 0px 10px;
    border-radius: 4px;
    margin: -1px 10px 0px 0px;
    padding: 0px;
    box-sizing: border-box;
  }
  
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .container .checkmark:after {
    left: 0.45em;
    top: 0.25em;
    width: 0.25em;
    height: 0.5em;
    border: solid white;
    border-width: 0 0.15em 0.15em 0;
    transform: rotate(45deg);
    transition: all 500ms ease-in-out;
  }


